@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  font-family: "Open Sans", sans-serif !important;
  background: #ebe9e9;
  overflow-x: hidden;
}

* {
  margin: 0px;
  padding: 0px;
}
::-webkit-scrollbar {
  height: 5px !important;
  width: 5px !important;
}
::-webkit-scrollbar-thumb {
  background: #0858f7 !important;
}
::-webkit-scrollbar-track {
  background: #0000 !important;
}
body {
  background: #ebe9e9;
  font-family: Open Sans, sans-serif !important;
  overflow-x: hidden;
}
header {
  background: #ffffffe6;
  height: 70px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
header .logo {
  text-decoration: none;
}
header .logo img {
  width: 45px;
}
header .logo span {
  color: #292929;
  font-size: 24px;
  font-weight: 800;
}

header .part2 {
  padding-left: 50px;
}
header button.rounded-circle {
  background: #f0f5ff !important;
  color: #0858f7;
  height: 40px !important;
  min-width: 40px !important;
  width: 40px !important;
}
header button.rounded-circle svg {
  color: #292929;
  font-size: 18px !important;
  transition: all 0.2s ease-in-out;
}
header button.rounded-circle:hover svg {
  color: #0858f7 !important;
}
.searchBox {
  background: #f0f5ff;
  border-radius: 6px;
  height: 40px;
  padding: 3px 15px;
  width: 500px;
}
.searchBox svg {
  color: #292929;
  font-size: 18px;
}
.searchBox input {
  background: #0000;
  border: 0;
  color: #292929;
  font-size: 14px;
  outline: none;
  padding-left: 0;
}
.myAcc {
  color: #0858f7 !important;
  text-align: left !important;
  text-transform: capitalize !important;
}
.userImg {
  border: 1px solid #0858f7;
  border-radius: 100%;
  height: 40px;
  padding: 2px;
  width: 40px;
}
.userImg,
.userImg .rounded-circle {
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.userImg .rounded-circle {
  cursor: pointer;
  height: 100% px;
  position: relative;
  width: 100% px;
}
.userImg .rounded-circle img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.myAcc .userInfo {
  padding-left: 10px;
}
.myAcc .userInfo h4 {
  color: #292929;
  font-size: 15px;
  font-weight: 600;
  line-height: 15px;
  margin-bottom: 0;
}
.myAcc .userInfo p {
  color: #000;
  font-size: 12px;
  margin-top: 0;
  opacity: 0.7;
}

#account-menu li {
  font-size: 14px !important;
  padding: 12px 15px !important;
}
#account-menu li svg {
  font-size: 20px !important;
}

#notifications .MuiPaper-elevation {
  left: auto !important;
  right: 240px !important;
  top: 70px !important;
  width: 300px !important;
}
.dropdown_list .head {
  padding: 10px 0;
}
.dropdown_list .head h4 {
  font-size: 17px;
  font-weight: 600;
}
.dropdown_list .scroll {
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.dropdown_list li.MuiButtonBase-root {
  background: #ebf6ff !important;
  color: #000 !important;
  padding: 10px 15px !important;
}
.dropdownInfo {
  padding-left: 15px;
}
.dropdownInfo h4 {
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 0;
  white-space: break-spaces;
}
.dropdownInfo h4 b {
  font-weight: 600;
  margin-right: 5px;
}
body.light p {
  font-weight: 400 !important;
}
.dropdownInfo p {
  font-size: 12px;
  font-weight: 500;
  margin-top: 0;
}
.text-sky {
  color: #0858f7 !important;
  font-weight: 500 !important;
}
.btn-blue {
  background: #0858f7 !important;
  border-radius: 5px !important;
  border-radius: 8px !important;
  color: #fff !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  text-transform: capitalize !important;
}
.main .sidebarWrapper {
  flex: 0 0 20%;
  transition: all 0.3s;
  width: 20%;
}
.main .content {
  flex: 0 0 80%;
  transition: all 0.3s;
  width: 80%;
}
.main .sidebarWrapper .sidebar {
  background: #fff;
  height: 100vh;
  left: 0;
  max-height: calc(100% - 70px);
  overflow-x: hidden;
  overflow-y: scroll;
  padding-bottom: 40px;
  position: fixed;
  top: 70px;
  transition: all 0.3s;
  width: 20%;
}
.main .sidebarWrapper .sidebar ul {
  margin-bottom: 0;
  padding: 10px 15px;
}

.main .sidebarWrapper .sidebar ul li {
  list-style: none;
  margin-bottom: 5px;
}
.main .sidebarWrapper .sidebar ul li button {
  align-items: center;
  border-radius: 10px !important;
  color: #5e5d72 !important;
  font-family: Open Sans, sans-serif !important;
  font-size: 15px !important;
  font-weight: 600 !important;
  justify-content: left;
  padding: 12px 10px !important;
  text-align: left;
  text-transform: capitalize !important;
}
.main .sidebarWrapper .sidebar ul li button.active {
  background: #f1f1f1 !important;
}
.main .sidebarWrapper .sidebar ul li button .icon {
  align-items: center;
  display: flex;
  height: 25px;
  justify-content: center;
  margin-right: 10px;
  width: 25px;
}
.main .sidebarWrapper .sidebar::-webkit-scrollbar-thumb {
  background: #0000 !important;
}
.main .sidebarWrapper .sidebar::-webkit-scrollbar {
  width: 3px !important;
}
.main .sidebarWrapper .sidebar ul li button .icon svg {
  font-size: 22px;
}
.main .sidebarWrapper .sidebar ul li button:hover {
  background: #f1f1f1 !important;
}
.main .sidebarWrapper .sidebar ul li button.active .icon svg {
  color: #0858f7 !important;
}
.main .sidebarWrapper .sidebar ul li button.active .arrow {
  transform: rotate(90deg);
}
.main .sidebarWrapper .sidebar ul li button .arrow {
  align-items: center;
  display: flex;
  height: 25px;
  justify-content: center;
  margin-left: auto;
  transition: all 0.3s ease-in-out;
  width: 25px;
}
.main .sidebarWrapper .sidebar ul .submenuWrapper {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.4s;
}
.main .sidebarWrapper .sidebar ul .submenuWrapper.colapsed .submenu {
  opacity: 0;
}
.main .sidebarWrapper .sidebar ul .submenuWrapper.colapse {
  height: auto;
  opacity: 1;
  overflow: inherit;
  padding: 10px 0;
}
.main .sidebarWrapper .sidebar ul .submenuWrapper.colapse .submenu {
  height: auto;
  opacity: 1;
}
.main .sidebarWrapper .sidebar ul .submenu {
  height: 0;
  padding: 0 45px;
  position: relative;
  transition: all 0.3s;
}
.main .sidebarWrapper .sidebar ul {
  margin-bottom: 0;
  padding: 10px 15px;
}
.main .sidebarWrapper .sidebar ul .submenu:before {
  background: #0003;
  content: "";
  height: 100%;
  left: 25px;
  position: absolute;
  top: -10px;
  width: 1px;
}
.main .sidebarWrapper .sidebar ul .submenu li a {
  color: #5e5d70 !important;
  display: block;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 0;
  text-decoration: none;
  transition: all 0.3s;
}
.main .sidebarWrapper .sidebar ul .submenu li {
  list-style: none;
  width: 100%;
}
.main .sidebarWrapper .sidebar ul li {
  list-style: none;
  margin-bottom: 5px;
}
.main .sidebarWrapper .sidebar ul .submenu li a:hover,
body.dark .main .sidebarWrapper .sidebar ul .submenu li a:hover {
  color: #0858f7 !important;
}
.logoutWrapper {
  padding: 0 25px;
}
.logoutWrapper .logoutBox {
  align-items: center;
  background: #bcd2fd;
  border-radius: 10px;
  display: flex;
  height: 130px;
  justify-content: center;
  overflow: hidden;
  padding: 25px;
  position: relative;
  width: 100%;
}
.logoutWrapper .logoutBox:after,
.logoutWrapper .logoutBox:before {
  background: #0858f7;
  border-radius: 100%;
  content: "";
  opacity: 0.5;
  position: absolute;
}
.logoutWrapper .logoutBox:before {
  height: 70px;
  right: -20px;
  top: -20px;
  width: 70px;
}
.logoutWrapper .logoutBox button {
  font-size: 14px !important;
  font-weight: 600 !important;
}
.logoutWrapper .logoutBox button svg {
  font-size: 18px !important;
  margin-right: 5px;
}
.logoutWrapper .logoutBox:after {
  height: 30px;
  left: 10px;
  top: 20px;
  width: 30px;
}

.right-content {
  padding: 90px 30px 10px;
}
.dashboardBoxWrapper {
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}
.dashboardBoxWrapper .dashboardBox {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  height: 170px;
  justify-content: space-around;
  position: relative;
  width: 48%;
  text-align: left !important;
  text-transform: capitalize !important;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
}
.dashboardBoxWrapper .dashboardBox .chart {
    bottom: 20px;
    left: 20px;
    opacity: 0.05;
    position: absolute;
}
.dashboardBoxWrapper .dashboardBox .chart svg {
    color: rgb(0, 0, 0);
    font-size: 110px;
}
.dashboardBoxWrapper .dashboardBox .col1 h4 {
    font-size: 16px;
    font-weight: 600;
}
.dashboardBoxWrapper .dashboardBox .col1 span {
    font-weight: 700;
    line-height: 45px;
    font-size: 35px !important;
}
.dashboardBoxWrapper .dashboardBox .icon {
    align-items: center;
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    display: flex
;
    height: 50px;
    justify-content: center;
    width: 50px;
    border-radius: 10px;
}
.dashboardBoxWrapper .dashboardBox .icon svg {
    color: rgb(255, 255, 255);
    font-size: 36px;
    opacity: 0.4;
}
.dashboardBoxWrapper .dashboardBox .bottomEle {
    position: relative;
    top: 15px;
}
.dashboardBoxWrapper .dashboardBox .toggleIcon {
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-size: 22px;
    height: 40px !important;
    min-width: 40px !important;
    width: 40px !important;
    border-radius: 50% !important;
}
.toggleIcon svg {
    color: rgb(255, 255, 255) !important;
    font-size: 20px !important;
    opacity: 1 !important;
}
.dropdown_menu .MuiButtonBase-root svg {
    margin-right: 10px !important;
}
.dashboardBoxWrapperRow .box {
    height: 100%;
    width: 100%;
}
.graphBox {
    background-image: linear-gradient(rgb(26, 80, 181), rgb(42, 111, 247));
    border-radius: 10px;
    padding: 25px;
}
.graphBox p {
    color: rgb(255, 255, 255);
    font-size: 13px;
    opacity: 0.7;
}
.card {
    border-radius: 10px;
    margin: 20px 0px;
}
.card .hd {
    color: rgb(64, 62, 87);
    font-size: 18px;
    font-weight: 700;
}
.cardFilters .col-md-3 h4 {
    color: rgb(64, 62, 87);
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
}
.table-responsive {
    display: block;
    overflow-x: auto;
    width: 100%;
}
.table-responsive > .table-bordered {
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}
.table-bordered, .table-bordered td, .table-bordered th {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(222, 226, 230);
    border-image: initial;
}
.table-bordered th, body.dark .table-bordered td {
    border-width: 1px !important;
    border-style: solid !important;
    border-color: rgba(255, 255, 255, 0.1) !important;
    border-image: initial !important;
}
.table {
    color: rgb(33, 37, 41);
    margin-bottom: 1rem;
    width: 100%;
}
.table .thead-dark th {
    background-color: rgb(24, 102, 238) !important;
    font-size: 13px !important;
    border-color: rgba(255, 255, 255, 0.1) !important;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid rgb(222, 226, 230);
}
.table td, .table th {
    vertical-align: top;
    border-top: 1px solid rgb(222, 226, 230);
    padding: 0.75rem;
}
.table .thead-dark th {
    background-color: rgb(52, 58, 64);
    color: rgb(255, 255, 255);
    border-color: rgb(69, 77, 85);
}
table td .imgWrapper {
    width: 20%;
    flex: 0 0 20%;
}
table td .imgWrapper .card {
    border-radius: 10px !important;
    overflow: hidden !important;
}
table td .info {
    width: 65%;
    flex: 0 0 65%;
}
table td .info h6, table td .info p {
    margin-bottom: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
table td .info h6 {
    font-size: 14px;
    font-weight: 600;
}
table td .info p {
    color: rgb(94, 93, 114);
    font-size: 13px;
    line-height: 18px;
}
table.v-align td .productBox {
    width: 270px;
}
.table td .new, .table td .old {
    display: block;
    width: 100%;
}
.table td .new, .table td .old {
    display: block;
    width: 100%;
}
.text-danger {
    color: rgb(255, 97, 121) !important;
}
.table tbody .actions button.secondary {
    background: rgba(203, 60, 231, 0.2) !important;
}
.table tbody .actions button.success {
    background: rgba(26, 159, 83, 0.2) !important;
}
.table tbody .actions button.error {
    background: rgba(241, 17, 51, 0.2) !important;
}
.table tbody .actions button {
    height: 32px !important;
    min-width: 32px !important;
    width: 32px !important;
    margin: 0px 3px !important;
}
.table tbody .actions button svg {
    font-size: 30px !important;
}
table.v-align td {
    vertical-align: middle !important;
}
.table tbody td {
    color: #2f2d3e;
    font-size: 14px !important;
    font-weight: 500;
}
.tableFooter .pagination {
    margin-left: auto;
}